.section {
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding: 2rem 4rem 5rem;
    background-color: #161418;
    color: white;
    overflow: hidden;
}


.sectionHeader {
    text-align: center;
    margin-bottom: 3rem;
}

.carousel {
    cursor: grab;
    display: flex;
    gap: 1rem;
}

.innerCarousel {
    display: flex;
    gap: 1rem;
}

.card {
    background: linear-gradient(180deg, #204D59 0%, #1E1927 100%);
    border-radius: 15px;
    height: 100%;
    width: 400px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.starsContainer {
    flex: .1;
}

.starsContainer svg {
    font-size: 1.75rem;
    color: #1BC9AA;
}

.review {
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.8;
    display: flex;
    align-items: flex-start;
    flex: .9;
}

.reviewerName {
    font-size: 1.5rem;
}

@media screen and (max-width: 968px) {
    .card {
        width: 300px
    }

    .starsContainer svg {
        font-size: 1.5rem;
    }

    .review {
        font-size: 1rem;
    }

    .reviewerName {
        font-size: 1rem;
    }
}


@media screen and (max-width: 560px) {
    .title {
        font-size: 2rem;
    }

    .card {
        width: 200px;
        gap: 1rem;
        padding: 1rem;
    }

    .subtitle {
        font-size: .7rem;
        margin-top: .25rem;
    }

    .review {
        font-size: .75rem;
    }

    .starsContainer svg {
        font-size: 1rem;
    }

    .reviewerName {
        font-size: 0.8rem;
    }
}



@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate {
    display: flex;
    animation: infiniteScroll 60s linear infinite;
}